@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    opacity: 0;
    max-height: 0;
  }
  100%{
    display: none;
    opacity: 0;
    max-height: 0;
  }
}

@keyframes spin{
  0% {
    transform:rotate(0deg);
  }
  90% {
    transform:rotate(480deg);
  }
  100%{
    display: none;
  }
}

.text-danger{
  background-color: #B01E1E;
}

#imgspinner{
  animation-name:fadeIn;
  animation-duration:2s;
  animation-fill-mode:forwards;
  font-size: 3rem;
  color: #B01E1E;
  font-family: Francois One;
}

#tittleImg{
  height:100%;
  width: 100%;
}

#tittleImgInside{
  max-height:60%;
  max-width: 80%;
}

.landing-base{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-flow: column;
}

.bg-landing-red-library{
  background: linear-gradient(0deg, rgba(61, 1, 1, 0.74), rgba(61, 1, 1, 0.74)), url(/static/img/backgroundImage.webp);
  background-position: center;
  background-size: cover;
}

.little-tittle{
  font-family: 'Francois One';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.img-tittle{
  background-color: #FFFFFF;
  flex-grow : 1;
  border: 5px #B01E1E solid;
}

.btn-landing{
  margin:10px 0
}

.btn-landing h5{
  margin-top: 15px;
}

.btn-icon > a{
  color: #FFFFFF;
  margin: 0 3px;
}

#footer{
  background-color: #B01E1E;
  padding: 20px 0;
}

#footer a{
  color: #FFFFFF;
  margin: 1px;
}

#footer h1{
  font-family: Inspiration;
  font-style: normal;
  font-size: 56px;
  text-align: center;
  color: #FFFFFF;
}

#footer > div{
  padding: 10px;

}

#footer p{
  font-family: 'Asap Condensed';
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (orientation:portrait){
  
}

@media (min-width: 540px) {
  .right-border{
    border-right: #FFFFFF solid 2px;
  }
}

@media (max-width: 540px) {
  .btn-landing{
    text-align: center;
  }  
}
